extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 Available routes
  ul
    li "GET Users: /users"
    li "GET profile of one user: /users/profiles/{userId}"
    li "GET user associated with token: /users/{token}"
    li "GET quizzes: /quizzes"
    li "GET quizzes by creator: /quizzes?creator={creatorId}"
    li "GET one quiz: /quizzes/{quizId}"
    li "PUT one quiz (auth): /quizzes/{quizId}"
    li "POST one quiz (auth): /quizzes"
    li "DELETE one quiz (auth): /quizzes/{quizId}"

  p ticket001 registration - try 2

